<ul class="dropdown-menu multi-level">
  <% subcategories.each do |sub| %>
  	<% @submenu = Seodetail.where("parentpage = ? ", sub.id) %>
  	<% 
  		if @submenu.present? 
  		#@attr = 'class="dropdown-toggle" data-toggle="dropdown"'	
  	%>
    	<li class="dropdown">
    <% else %>
    	<li class="top-clear">
    <% end %>
    
    	
    		<a <%= "#{@attr}" %> href='/<%=sub.slug.downcase%>'><span><%=sub.pagealias%></span></a>
    	
  		<% if @submenu.present? %>
    		<%= render partial: 'layouts/mainmenu', locals: {subcategories: @submenu} %>
  		<% end %>
		</li>
  <% end %>
</ul>