<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Slide Show</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/elements/css/build.css" rel="stylesheet">
    <link href="/elements/css/bootstrap.css" rel="stylesheet">
    <link href="/elements/css/reset.css" rel="stylesheet">
    <link href="/elements/css/services.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="/elements/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bodyPaddingLess">
    
    <div id="page" class="page">    
        <!-- Header -->
        <!-- gray bg -->    
    <section class="container tm-home-section-1" id="more">
        <div class="section-margin-top">
            <div class="row">               
                <div class="tm-section-header editContent">
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">We Offer</h2></div>
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>  
                </div>
            </div>
        </div>
    </section>  
    </div>


    <!-- Load JS here for greater services good =============================-->
    
   
</body>
</html>
