<div id="page" class="page">    
    <!-- Header -->
    <div class="tm-header ng-scope" ng-controller="NavController">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                    <%= wicked_pdf_image_tag("/images/logo2.png") %>
                </div>
                
                <div class="col-lg-6 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        
                       
                    </nav>      
                </div>              
            </div>
        </div>      
    </div>
</div>

