<div id="page" class="page">
    <!-- Footer -->
    <footer class="tm-black-bg bg editContent">
        <div class="container">
            <div class="row">
                <div style="text-align: center; height: 100px;" >
                    <p class="tm-copyright-text">Copyright © 2016 Tulip Service Apartment | Designed by <a rel="nofollow" href="#" target="_blank">jalaram-techsolutions.com</a></p>
                </div>
            </div>
        </div>      
    </footer>
</div>
