<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Slide Show</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/elements/css/build.css" rel="stylesheet">
    <link href="/elements/css/bootstrap.css" rel="stylesheet">
    <link href="/elements/css/reset.css" rel="stylesheet">
    <link href="/elements/css/services-facilities.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="/elements/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body >
    
    <div id="page" class="page">    
        <!-- Header -->
        <!-- gray bg -->    
    <section class="container tm-home-section-1" id="more">
        <div class="section-margin-top">
            <!-- <div class="row">              
                <div class="tm-section-header">
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">We Offer</h2></div>
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>  
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tm-tours-box-1">
                        <img src="/elements/images/1.jpg" alt="image" class="img-responsive">
                        <div class="tm-tours-box-1-info editContent">
                            <div class="tm-tours-box-1-info-left">
                                <p class="text-uppercase margin-bottom-20">Tulip - Samruddhi</p>    
                                <p class="gray-text">Rent / month w food 5700</p>
                                <p class="gray-text">Rent / month wo food 4200</p>
                            </div>
                            <div class="tm-tours-box-1-info-right">
                                <p class="gray-text tours-1-description">Luxiourious 2BHK apartments for working women.</p> 
                            </div>                          
                        </div>
                    </div>                  
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tm-tours-box-1">
                        <img src="/elements/images/2.jpg" alt="image" class="img-responsive">
                        <div class="tm-tours-box-1-info editContent">
                            <div class="tm-tours-box-1-info-left">
                                <p class="text-uppercase margin-bottom-20">Tulip - Haripriya</p>    
                                <p class="gray-text">Rent / month w food 5700</p>
                                <p class="gray-text">Rent / month wo food 4200</p>
                            </div>
                            <div class="tm-tours-box-1-info-right">
                                <p class="gray-text tours-1-description">Affordable 1BHK rooms without compromising the comfort.</p>    
                            </div>                          
                        </div>
                    </div>                  
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tm-tours-box-1">
                        <img src="/elements/images/1.jpg" alt="image" class="img-responsive">
                        <div class="tm-tours-box-1-info editContent">
                            <div class="tm-tours-box-1-info-left">
                                <p class="text-uppercase margin-bottom-20">Tulip - Ashoka</p>   
                                <p class="gray-text">Rent / month w food 5700</p>
                                <p class="gray-text">Rent / month wo food 4200</p>
                            </div>
                            <div class="tm-tours-box-1-info-right">
                                <p class="gray-text tours-1-description">Live, Eat, Enjoy with pride in the luxurious Ashoka.</p>   
                            </div>                          
                        </div>
                    </div>                  
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tm-tours-box-1">
                        <div class="tm-tours-box-1-info editContent">
                            <div class="tm-tours-box-1-info-left">
                                <p class="text-uppercase margin-bottom-20">Facilities Includes </p> 
                                <p class="gray-text">Sofa</p>
                                <p class="gray-text">TV/DTH</p>
                                <p class="gray-text">Wifi</p>
                                <p class="gray-text">Bed Locker</p>
                                <p class="gray-text">Fridge</p>
                                <p class="gray-text">Gas</p>
                                <p class="gray-text">Geyser</p>
                                <p class="gray-text">Washing Machine</p>
                            </div>
                            <div class="tm-tours-box-1-info-right">
                                <p class="text-uppercase margin-bottom-20">Security Includes </p>   
                                <p class="gray-text">CCTV Monitoring</p>
                                <p class="gray-text">WatchMan</p>
                                <p class="gray-text">Word Boy</p>
                            </div>                          
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </section>
    </div>


    <!-- Load JS here for greater services good =============================-->
    
   
</body>
</html>
