<main class="donation-section">
  <section class="container text-center">
    <strong>Donation may be sent by Account Payee Cheque/Demand Draft in favour of Shree Jalaram Mandir Trust Durg</strong>
    <p>Dena Bank, Durg (C.G)</p>
    <p>Account No :- 029310031840</p>
    <p>MICR Code :- 491018002</p>
    <p>IFSC Code :- BKDN0820293</p>
  </section>
</main>