

		<div class="container main-content">
			<div class="latest_offers">
				<div class="row">
					<div class="section_heading about_title"><h3>About Us</h3></div>
					<p class="about_content"><%= @shop.info.html_safe%></p>
				</div>
			</div>

		</div>

	