<% if @seodetails[0].isglobalheader != 0 %>
	<% if !@header_blocks.nil? %>
	<% @header_blocks.each_with_index do |block, index| %>
	  <% block.each_with_index do |blockdetails, index| %>		  	
	  	<%= content_html blockdetails["frames_content"].to_s.html_safe %>
	  <% end %>
	<% end %>
	<% end %>
<% end %>

<%= render partial: @custom_page %>
<input id = "custom_slug" type="hidden" value= "<%= @custom_page.remove('templates') %>">
<div class="push"></div>

<footer>
	<% if @seodetails[0].isglobalfooter != 0 %>
		<% if !@footer_blocks.nil? %>
		<% @footer_blocks.each_with_index do |block, index| %>	  
		  <% block.each_with_index do |blockdetails, index| %>	  	
		  	<%= content_html blockdetails["frames_content"].to_s.html_safe %>
		  <% end %>
		<% end %>
		<% end %>
	<% end %>
</footer>

<style type="text/css">
	footer {
	 position:fixed;
	 bottom:0;
	 left:0;
	 width: 100%;
	}
</style>

<script type="text/javascript">
	$('a').removeClass("active");
	$("a[href$='"+$('#custom_slug').val()+"']").addClass("active");
</script>