<div class="container main-content">
	<div class="latest_offers">
		<div class="row">
			<div class="col-lg-3">
				<ul class="nav" id="side-menu">
					<li>
						<%= current_site_user.email %>
					</li>
					<li>
						<%= link_to "#{"Log Out"}".html_safe, destroy_site_user_session_path, :method=>'delete' %>
					</li>
				</ul>
			</div>
			<div class="col-lg-9">				
				<p class="about_content">Dashboard</p>
			</div>
		</div>
	</div>

</div>

	