<main class="gallery-section">
  <section class="container text-center">

    <div class="container main-content">
    <% if @shop.gallerytype == 1 %>
    <div class="row gallery_images gallerycarousel">
    <%= render :partial => "layouts/gallery"%>
    </div>
    <% else %>
    <% @images.in_groups_of(4) do |images| %>
      <div class="row gallery_images">
      <% images.each do |image|%>
        <div class="col-lg-3">
          <a class="example-image-link" href="<%= image.image_url if  !image.blank? %>" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
          <%= image_tag image.image_url, :class=> "example-image" if  !image.blank?%>
            <!-- <img class="example-image" src="/assets/thumb-3.jpg" alt=""/> -->
          </a>
        </div>
      <%end%>
      </div>
      <%end%>
    <% end %> 
    </div>
    
  </section>
</main>