<div class="container main-content">
	<div class="latest_offers">
		<div class="row">
			<div class="col-lg-12">				
				<p class="about_content"><%= @seodetails[0].pagecontent.html_safe%></p>
			</div>
		</div>
	</div>

</div>

	