<p>Hi User, </p>

<p>You have just created shop with you own domain name.</p>
<p>Please follow the below instructions to setup your domain.</p>
<p>
1) Login to your domain control panel <br>
2) Edit you zone file <br>
3) From the Record type list, select CNAME (Alias).<br>
4) Complete the following fields: <br><br>

    Enter an Alias Name — Enter the subdomain name for the alias assignment. <%= @shop.subdomain%>.ccbizon.com <br>
    Points to Host Name — Enter the host name you want the alias to point to. For example, type @ to map the alias directly to your domain name.<br>
    TTL — Select how long the server should cache the information.<br><br>

5) Click OK, then click Save Zone File.
</p>
