// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #333;
}
.btn-primary {
  background-color: #ccc;
  color: #000;
  border-color: #999;
}
.sidebar ul li a.active {
  background: none;
}
.navbar-default {
  background-color: #333;
}
.nav > li > a {
  color: #ffff00;
  padding: 16px 15px;
}
.nav > li > a:hover, .sidebar ul li a.active:hover {
  color: #000;
  background: #ffff00;
}
.sidebar {
  margin-top: 69px;
}
.page-header {
  color: #ffff00;
  border-bottom: none;
}
#page-wrapper {
  background-image: url("money3.jpg");
  background-size: cover;
  min-height: 594px;
}
.login-panel.panel {
  background: #fff;
  .panel-heading {
    background: none;
    border: none;
  }
  .submit_btn {
    margin-bottom: 10px;
  }
}
.panel {
  background: none;
}
.panel-default > .panel-heading {
  background: rgba(255, 255, 0, 0.9);
  border-radius: 15px;
  border-bottom: 1px solid #000;
}
.panel-default {
  margin-top: 25px;
  border: none;
}
.prof_icon {
  background: #AAA;
  border-radius: 50%;
  padding: 5px 6px;
  width: 36px;
  height: 36px;
}
.fa-user.prof_icon::before {
  line-height: 23px;
}
div.date {
	position: relative;
}
.alert {
	padding: 5px;
  margin-bottom: 10px;
  background-color: #f2dede;
  border-color: #eed3d7;
  strong {
  	font-weight: normal;
    font-size: 12px;
    color: #b94a48;
  }
}
.calendar {
	position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("glyphicons-halflings.png");
  background-repeat: no-repeat;
  padding: 16px 12px;
  background-position: -187px -111px;
  background-color: #DAD9D9;
  border-radius: 0;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-left {
    background-position: -240px -96px;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("glyphicons-halflings.png");
    background-repeat: no-repeat;
}
.image-wrapper {
  background: #E7E7E7;
  padding: 28px;
  text-align: center;
  img {
    min-height: 188px;
    max-height: 188px;
    margin: 0px auto 10px;
  }
  a.btn {
    margin: 10px auto 0px;
  }
}
.text-center {
  text-align: center;
  img {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.error {
  color: #ff0000;
  font-size: 13px;
  font-weight: normal;
}
.asterix {
  color: #ff0000;
  font-size: 16px;
  margin-left: 1px;
}
.table-bordered {
  background-color: rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
  border-radius: 15px;
  border: none;
}
.table-bordered thead tr th, .table-bordered thead tr th.sorting, .table-bordered thead tr th.sorting_asc, .table-bordered thead tr th.sorting_desc {
  border: none;
  background-color: #333;
  color: #FF0;
  border-radius: 15px;
  text-align: center;
}
.table-bordered > tbody > tr > td {
  border: none;
  color: #000;
  text-shadow: 0px 1px #FFF;
  &:last-child {
    width: 317px;
    max-width: 317px;
    min-width: 317px;
    text-align: center;
  }
}
.table-striped > tbody > tr:nth-of-type(2n+1), .table-hover > tbody > tr:hover {
  background: none;
}
table.dataTable thead .sorting::after {
  color: #FF0;
}
.panel-body.col-lg-6 {
  background-color: rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
  border-radius: 15px;
  margin-top: 30px;
}
.dataTables_wrapper .col-sm-12 {
  overflow-y: scroll;
}