/*------ Events page --------------------------------------------------------*/
.events_page .row h3 {
	margin-top: 0;
}
.events_details {
	background: #F5F5F5;
	padding: 20px;
	margin-bottom: 20px;
}
.events_details img {
	height: 90px;
  max-width: 100%;
	border-radius: 50%;
}
.events-dates_container {
	margin: 40px 0px;
}
.events_container {
	border-right: 1px dashed rgb(78, 78, 78);
	margin: 40px 0px;
}
.events_container span {
	margin: 10px 0;
	display: inherit;
}
.events_container span h4{
	margin-top: 0;
	margin-bottom: 0px;
	font-size: 16px;
	display: inline;
}
.events_container span:last-child h4{
	display: block;
}
.panel-collapse .panel-body {
  padding: 15px;
}
.panel-default, .panel-default > .panel-heading {
  color: #333;
  background: none;
  border: none;
  box-shadow: none;
}
.panel-default > .panel-heading {
	border-bottom: 1px solid #ddd; 
}
.panel-collapse .panel-body a {
	display: block;
	line-height: 28px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
  border-bottom: 2px solid #ddd;
}






/*Auction Styling*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  outline: none;
}
.auction_page {
	padding: 30px 15px;
}
.auction_container {
	border: 1px solid #111;
	padding-bottom: 20px;
	margin-top: 10px;
}
.tab-content {
	border: 1px solid #ddd;
	border-top-color: transparent;
	padding: 15px;
}
.main-content .tab-content p {
	text-align: left;
	white-space: normal;
}
.tab-content p strong {
	white-space: normal;
}
.players_section {
	padding: 10px 15px;
	color: #555;
}
.tab_content_wrapper {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
}
.tab_content_wrapper:last-child {
	border-bottom: transparent;
	margin-bottom: 0;
}
.auction_players_list {
	border-right: 1px dashed #ccc;
}
.players_list {
	border: 1px solid #ddd;
	padding: 15px 0;
}
.players_list img {
	width: 100%;
}
.main-content .players_list p {
	text-align: left;
}
@media only screen and (max-width: 767px) {
	.auction_players_list {
    border-right: none;
	}
}



/*Compare teams page*/
.compare_teams img {
	width: 100%;
}
.compare_teams .col-lg-4 {
	padding: 0;
}
.compare_teams .auction_players_list {
	padding: 20px;
	border: 1px dashed #ccc;
}
.compare_teams th {
	text-align: center;
	border-bottom: 1px solid #ccc;
	color: #666;
	text-transform: uppercase;
}
.teams_columns {
	border-right: 1px solid #ccc;
}
.teams_columns:first-child {
  border-left: 1px solid #ccc;
}
.compare_teams table {
	width: 100%;
}
.compare_teams th, .compare_teams td {
	padding: 10px;
}
.compare_teams td {
	border-bottom: 1px dashed #ccc;
}