img {
	width: auto;
}
.navbar {
	margin: 0;
}
ul.nav.navbar-nav {
	margin-left: 50px;
}
.navbar-brand {
    height: 68px;
    padding: 10px 15px;
}
.navbar-brand > img {
    display: block;
    max-height: 100%;
    margin: 0 auto;
}
.navbar.navbar-default {
	background-color: #286090;
	background-image: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
}
.navbar-default .navbar-nav > .active > a {
	background: none;
	box-shadow: none;
}
.navbar-default .navbar-nav li {
	margin: 13px 0 0;
}
.navbar-default .navbar-nav li a {
	color: #fff;
	padding: 10px 0;
  line-height: normal;
}
.navbar-default .navbar-nav li a span {
  border-right: 1px solid #fff;
  padding: 0px 15px;
}
.navbar-default .navbar-nav li:last-child a span {
  border-right: none;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
	background: none;
	text-decoration: underline;
}
#myCarousel img {
    width: auto;
    height: auto;
}
.carousel-inner {
	height: 632px;
}
.section_heading {
	text-align: left;
}
.section_heading img.title_head {
	margin: 0 auto 20px;
}
.section_heading h3 {
	display: inline-block;
	font-family: Monotype Corsiva;
	font-size: 36px;
	font-weight: bold;
	color: #000;
	margin-top: 0;
	margin-bottom: 20px;
}
.main-content p {
	text-align: left;
}
.offer_products {
	position: relative;
	margin-bottom: 20px;
}
.offer_text {
	position: absolute;
	bottom: 2%;
  width: 100%;
  background: #000;
  color: #fff;
  opacity: 0.86;
}
.offer_text p {
	margin: 0px;
	padding: 5px 0px;
	font-family: calisto MT;
	font-size: 20px;
	font-style: italic;
}
.offers_box {
	/*border-bottom: 1px solid #999898;*/
}
p.title {
	color: #000;
	margin-bottom: 14px;
}
.latest_offers, .upcomin_off {
	margin-top: 60px;
  margin-bottom: 60px;
}
.upcoming_offers_container {
	background: #e7e7e7;
	padding: 20px;
}
.upcoming_offers {
	border: 1px solid rgb(255, 255, 255);
	padding: 18px 5px;
}
.upcoming_offers p {
	text-align: left;
}
.upcoming_offers img {
	width: auto;
}
.offers_btn {
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	width: 100%;
	border-radius: 0px;
	border: medium none;
	opacity: 0.86;
	line-height: 1;
	font-family: calisto MT;
	font-size: 20px;
	font-style: italic;
}
.offers_btn:hover {
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	opacity: 0.9;
}
footer {
	background: #286090;
	padding: 10px 0px;
	color: rgb(255, 255, 255);
}
.main-content .follow-me-icons a {
    margin-right: 10px;
}