img {
	width: auto;
}
.navbar {
	margin: 0;
}
.navbar-brand {
  padding: 12px 15px;
  height: auto;
}
ul.nav.navbar-nav {
	margin-left: 50px;
}
.navbar.navbar-default {
	background-color: #f1b500;
	background-image: none;
	box-shadow: none;
  border: 0px none;
  border-radius: 0px;
}
.navbar-brand {
  height: 77px;
}
.navbar-brand img {
	height: 46px;
}
.navbar-default .navbar-nav > .active > a {
	background: none;
	box-shadow: none;
}
.navbar-default .navbar-nav li {
	padding: 0 15px;
	border-right: 1px solid #000;
	margin: 28px 0;
}
.navbar-default .navbar-nav li a {
	color: #000;
  line-height: normal;
  margin: 0px;
	padding: 0px;
}
.navbar-default .navbar-nav li a span {
  padding: 0px;
}
.navbar-default .navbar-nav li:last-child {
  border-right: none;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
	color: #000;
	background: none;
	text-decoration: underline;
}
.carousel.slide img{
	width: 100%;
	height: 456px;
	max-height: 456px;
	max-width: 100%;
}
.section_heading {
	text-align: left;
}
.section_heading img.title_head {
	margin: 0 auto 20px;
}
.section_heading h3 {
	display: inline-block;
	font-family: Monotype Corsiva;
	font-size: 46px;
	font-weight: bold;
	color: #000;
	margin-top: 0;
	margin-bottom: 40px;
}
.main-content {
	margin-bottom: 90px;
}
.main-content p {
	text-align: left;
}
.offer_products {
	position: relative;
	margin-bottom: 20px;
}
.offer_text {
	position: absolute;
	bottom: 2%;
  width: 100%;
  background: #000;
  color: #fff;
  opacity: 0.86;
}
.offer_text p {
	margin: 0px;
	padding: 5px 0px;
	font-family: calisto MT;
	font-size: 20px;
	font-style: italic;
}
.offers_box {
	/*border-bottom: 1px solid #999898;*/
}
p.title a {
	color: #000;
	margin-bottom: 14px;
	text-transform: capitalize;
}
.latest_offers, .upcomin_off {
	margin-top: 60px;
  margin-bottom: 60px;
}
.upcoming_offers_container {
	background: #e7e7e7;
	padding: 20px;
}
.upcoming_offers {
	border: 1px solid rgb(255, 255, 255);
	padding: 18px 5px;
}
.discount {
	position: absolute;
	bottom: 2%;
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	width: 100%;
	color: #fff;
}
.discount p {
	margin: 0px;
	padding: 5px 0px;
	font-family: calisto MT;
	font-size: 20px;
	font-style: italic;
}
.discount p a {
	color: #fff;
}
.discount p a:hover {
	text-decoration: none;
}
.offers_cont {
	position: relative;
	margin-bottom: 20px;
}
.upcoming_offers p {
	text-align: center;
}
.upcoming_offers img {
	width: auto;
}
.offers_btn {
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	width: 100%;
	border-radius: 0px;
	border: medium none;
	opacity: 0.86;
	line-height: 1;
	font-family: calisto MT;
	font-size: 20px;
	font-style: italic;
}
.offers_btn:hover {
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	opacity: 0.9;
}
footer {
	background: #f1b500;
	padding: 10px 0px;
	color: rgb(255, 255, 255);
	position: fixed;
	width: 100%;
	bottom: 0;
}
footer p.copyright, footer .panel-body, footer .follow-me-icons {
	margin-bottom: 0;
	padding-bottom: 0;
}
.panel-body {
	padding-left: 0;
	padding-top: 7px;
}
footer .panel-body a {
	margin-right: 10px;
}
footer p.copyright, footer p.copyright a {
	color: #000;
}
.address {
	text-align: left;
	width: 18%;
}
.address p, .timings p {
	line-height: 1;
	text-align: left;
  font-style: italic;
  font-size: 16px;
}
.address span {
	line-height: 1.8;
	margin-left: 20px;
}
.copyright {
	text-align: left;
}

/* Common */
.section_heading.about_title {
	text-align: left;
}
p.about_content {
	text-align: left;
}

/* Contact us */
.contact_page {
	margin: 60px -15px;
}
#googleMap img {
	height: 100%;
}
.enquiry_form {
	margin-bottom: 50px;
}
.main-content p.tab_title {
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
	text-align: left;
}