/* Contact */
.tm-contact-box-1 {
	background-color: #F4F4F4;
	padding: 40px;
}
.contact-image { 
	float: left; 
	widthh: 100%;
	max-width: 494px;
}
.contact-text {
	float: left;
	margin-left: 40px;
	max-width: 550px;
	width: 100%;
}
.effect2-contact::before, 
.effect2-contact::after {
	max-width: 550px;
}
#google-map {
	height: 335px;
	width: 100%;
}
.tm-submit-btn {
	background: #f5d11d; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to bottom,  #f5d11d 0%,#f3d10e 1%,#efcf1c 2%,#fccd0d 4%,#f7ca0d 5%,#f9cb1e 6%,#f7cb10 7%,#f8cc14 8%,#f0c40c 54%,#edc50c 55%,#e9c108 71%,#ecc008 78%,#e6be06 91%,#e9bd06 93%,#e8bc06 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d11d', endColorstr='#e8bc06',GradientType=0 ); /* IE6-9 */
	width: 100%;
	border: none;
	height: 40px;
	text-transform: uppercase;
	font-style: italic;
	font-size: 12px;
	font-weight: 600;
}
.tm-submit-btn:hover { background: #f5d11d; }
.contact-social { margin-top: 20px; }
.contact-social .fa { color: white; }
.tm-social-facebook { background-color: #4A7DBB; }
.tm-social-dribbble { background-color: #E4588E; }
.tm-social-twitter { background-color: #77D1EE; }
.tm-social-instagram { background-color: #527AA1; }
.tm-social-google-plus { background-color: #CE5754; }
.contact-social .tm-social-icon {
    padding: 5px 0;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.contact-social .tm-social-icon:last-child { margin-right: 0; }

/* Flexslider */
.flex-caption,
.flexslider.flexslider .slides img {
	float: left;
}
.flex-caption {
  width: 572px;
  padding: 40px;
  left: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 18px;
}
.flexslider.flexslider-banner .slides img { 
	display: block;
	width: 100%; 
}
.flexslider {
	border: none;
	border-radius: 0;
	margin: 0 auto;	
	width: 100%;
}
.flexslider.flexslider-about {
	max-width: 1100px;
}
.flexslider.flexslider-about img {
	max-width: 528px;
}
.slider-title {
	font-style: italic;
	font-weight: 600;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.slider-subtitle {
	font-size: 18px;
	margin-bottom: 30px;
	text-align: left;
}
.slider-description {
	color: #B1B1B1;
	line-height: 1.6;
	margin-bottom: 40px;
	text-align: justify;
}
.slider-social { text-align: right; }

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:160px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.tm-social-icon {
	color: #B1B1B1;
	font-size: 18px;
	padding: 0 10px;
}
.tm-social-icon:hover {	color: #E8BA0F; }
