.tm-gray-bg { background-color: #E5E5E5; }
.tm-header {
	/*background: #000000;*/
	height: 80px;
	position: relative;
	z-index: 100;
}
.tm-site-name-container { padding-top: 20px; }
.tm-site-name {
	color: #FCDD44;
	font-size: 27px;
	font-weight: 600;
	text-transform: uppercase;
}
.tm-site-name:hover,
.tm-site-name:focus {
	color: #FF720B;
}
.mobile-menu-icon { display: none; }
.tm-nav {
	display: block;
	
}
.tm-nav ul{
	margin: 0px;
}
.tm-nav > ul > li {
	list-style: none;
	float: left;
}
.tm-nav li a {
	color: #838383;
	display: block;
	padding: 45px 34px 15px 34px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.tm-nav li a.active,
.tm-nav li a:focus,
.tm-nav li a:hover {
	background: #FCDD44;
	color: #000;
}
.modal .modal-backdrop{
	z-index:99;
}
.modal .modal-dialog{
	z-index:999;
}
@media screen and (max-width: 767px) {
	.tm-nav.show {
		opacity: 1;
		height: auto;
		transition: opacity 1s, height 0;
	}
	.tm-nav {
	    opacity: 0;
		transition: opacity 1s, height 0 1s;
		height: 0;
	    position: fixed;
	    z-index: 1000;
	    top: 69px;
	    right: 15px;
	    background: rgba(15,15,15,0.7);
	    transition: all 0.3s ease;
	}
	.tm-nav li { float: none; }
	.tm-nav li a {
		color: white;
	    display: block;
	    padding: 20px 30px 20px;
	}
	.mobile-menu-icon {
	    display: block;
	    cursor: pointer;
	    color: #FCDD44;
	    font-size: 30px;
	    position: fixed;
	    top: 15px;
	    right: 15px;
	    background-color: rgba(15, 15, 15, 0.7);
	    padding: 6px 15px;
	    z-index: 1000;
	}
}