/* Tours */
.tm-tours-box-1 {
	width: 100%;
	max-width: 532px;
	margin-bottom: 50px;
}
.tm-tours-box-1-info {
	background: white;
	padding: 40px;
	overflow: hidden;
}
.tm-tours-box-1-info-left,
.tm-tours-box-1-info-right {
	float: left;
	width: 50%;
}
.tm-tours-box-1-info-left {
	border-right: 1px solid #B1B1B1;
	padding-right: 30px;
}
.tm-tours-box-1-info-right { padding-left: 30px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.gray-text { color: #B1B1B1; }
.tours-1-description { line-height: 1.8; }
.tm-tours-box-1-link { overflow: hidden }
.tm-tours-box-1-link-left { 
	background-color: #1CA7C8;
	padding: 20px 30px;
	float: left;
	width: 75%;
	text-transform: uppercase;
}
.tm-tours-box-1-link-right {
	float: left;
	background-color: #1687A6;
	font-weight: 600;
	font-size: 18px;
	display: block;
	padding: 17px 30px;
	width: 25%;
	transition: all 0.3s;
	text-align: center;
}
.tm-tours-box-1-link-right:hover,
.tm-tours-box-1-link-right:focus {
	color: white;
	background-color: #1D98B9;
}
.tm-tours-box-1-link-left,
.tm-tours-box-1-link-right {
	color: white;
	height: 60px;
}

@media screen and (max-width: 1199px) {
	.tm-home-section-1 { top: -20px; }
}

@media screen and (max-width: 767px) {
	.tm-tours-box-1 {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 420px) {
	.tm-tours-box-1-info-left,
	.tm-tours-box-1-info-right {
		float: none;
		width: 100%;
	}
	.tm-tours-box-1-info-left {
		border-right: none;
		border-bottom: 1px solid #B1B1B1;
		padding-right: 0;
		padding-bottom: 30px;	
	}
	.tm-tours-box-1-info-right {
		padding-left: 0;
		padding-top: 30px;		
	}
	.tm-tours-box-1-link-left,
	.tm-tours-box-1-link-right {
		float: none;
		width: 100%;
		text-align: center;
	}
}