<% if @shop.loginenabled %>
	<li>
    <% if !current_site_user %>
    <a href="#" data-toggle="modal" data-target="#myModal"><span>Login</span></a>
    <% else %>
    	<span><%= link_to "#{"Log Out"}".html_safe, destroy_site_user_session_path, :method=>'delete' %></span>
    <% end %>
	</li>
<% end %>