<div id="myCarousel" class="carousel slide gallerypage"  data-ride="carousel">
  <!-- Indicators -->
  <% if !@images.blank?%>
  <ol class="carousel-indicators">
    <% @images.each_with_index do |shop_image, index|%>
    <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<% if index == 0%>active<%end%>"></li>
    
    
    <%end%>
  </ol>
  
  <div class="carousel-inner" role="listbox">
    <% @images.each_with_index do |shop_image, index|%>
      <% if shop_image.image_url %>
        <div class="item <% if index == 0%>active<%end%>">       
          <% if shop_image.image.cover.file.exists? %>      
            <%= image_tag shop_image.image_url(:cover), :class=> "img-responsive third-slide" if  !shop_image.blank?%>
          <%else%>
            <%= image_tag shop_image.image_url, :class=> "img-responsive third-slide" if  !shop_image.blank?%>
          <%end%>
        </div>
      <%end%>
    <%end%>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <%end%>
</div>